*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
.resumeouter{
    width: 90%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 40px;
     
}
.resume{
    display: flex;
    margin-bottom: 40px;
    border: 2px solid #32394e;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius : 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 8px 8px 10px gray;
}
aside{
    width: 33%;
    position: relative;
    padding: 60px;
    background-color: #32394e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: 12px solid #449197;
}
.avatar{
    max-width: 100%;
    background-color: #acb4bb;
    border-radius: 50%;
    margin: 5%;
    overflow: hidden;
    border: 5px solid #449197;
}
.avatar img{
    width: 100%;
    height: auto;
    position: inherit;
    object-fit: cover;
}
#skills h3{
    width: fit-content;
    max-width: 100%;
    background-color: #acb4bb;
    margin: 8px;
    padding: 5px 25px;
    border-radius: 6px;
    color: black;
    font-weight: lighter;

}
.left{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
}
.left .heading{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.heading{
    margin-top: 50px;
    margin-bottom: 30px;
}
.heading .icon{
    width: 60px;
    height: 60px;
    
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    margin-right: 20px;
    border: 4px solid #32394e;
}
.heading .icon img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#newdesig{
    font-size: x-large;
    color: #63A3A8;
}
.leftint{
    padding-left: 16px;
}

main{
    width: 67%;
    padding: 70px 60px;
    display: flex;
    flex-direction: column;
    
}
.contact{
    background-color: #32394e;
    margin-top: 30px;
    padding: 20px 20px 5px 20px ;
    color: white;
    border-radius: 15px;
    
}
.contact div{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}
.contact div p{
    margin-bottom: 5px;
}

.coloritalic{
    font-style: italic;
    color: #63A3A8;
}
.btndiv{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}
.btndiv button{
    font-size: 25px;
    font-weight: 600px;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #32394e;
    color: white;
    box-shadow: 4px 4px 5px gray;
    border: none;

    &:hover{
        background-color: #449197;
    }

    &:active{
        transform: scale(0.96);
        transition: all 0.1s ease-in;
    }
}
.rightcont{
    margin-left: 70px;
}
footer{
    width: 100%;
    background-color: #32394e;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: center;

    a{
        color: #449197;
        text-decoration: none;
        
        &:hover{
            text-decoration: underline;
        }
    }
}




.tschide{
    display: none;
}



@media print{
    .btndiv,footer{
        display: none;
    }
}

@media (max-width: 786px){
    .resume{
        flex-direction: column;
    }

    aside{
        width: 100%;
        border-bottom-left-radius: 0;
    }
    main{
        width: 100%;
    }
    .contact div{
        flex-direction: column;
        margin-bottom: 8px;
    }
    .rightcont{
        margin-left: 0;
    }
    
}
